/* HEADER START */
.header {
    background-color: #1f2937;
}
.header > * {
    flex: 
}

.main-logo {
    font-size: 24px;
    color: #f9faf8;
}

 .header-links, .header-secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

.header-main-text {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

a {
    text-decoration: none;
}

ul {
   list-style: none; 
}

.header-image {
    height: 400px;
    width: 400px;
}

.header-button {
    border: none;
    border-radius: 8px;
    background-color: rebeccapurple;
    color: white;
    padding: 8px 24px;
    width: 100px;
}

.top-of-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
  
}

.header-links {
    display: flex;
    gap: 25px;
}

.middle-of-header {
    display: flex;
    justify-content: space-around;
}



.header-main-text, .header-secondary-text {
    display: flex;
    width: 300px;
    flex-wrap: wrap;
}

.text-with-button {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav-link {
    transition: 0.5s;
}

.nav-link:hover {
    opacity: .7;
}
/* HEADER END */

/* RANDOM-INFORMATION WITH BUTTONS START */
.middle-upper {
    background-color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px  ;
}

.button-1, .button-2, .button-3, .button-4 {
    text-align: center;
}

.but-1, .but-2, .but-3, .but-4{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.middle-upper-title {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle-upper-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px  ;
}
/* RANDOM INFORMATION WITH BUTTONS END */

/* QUOTE START */
.middle-middle{
    background-color: #e5e7eb;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-and-person {
    width: 50%;
}

.quote {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    
    text-align: center;
}

.person-quoted {
    font-weight: bold;
    text-align: right;
}
/* QUOTE END */

/* MIDDLE-LOWER START */
.middle-lower {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.call-to-action {
    background-color: #3882f6;
    padding: 60px 65px;
    width: 60%;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.upper-text-call {
    color: #f9faf8;
    font-size: 30px;
}

.lower-text-call {
    color: #e5e7eb;
}

.middle-lower-button {
    border:0;
    border-radius: 8px;
    background-color: rebeccapurple;
    color: white;
    padding: 8px 24px;
    width: 100px;
}
/* MIDDLE-LOWER END */

/* FOOTER START */
.footer {
    background-color: #1f2937;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    color: #f9faf8;
    text-align: center;
}