* {
    margin:0;
    padding:0;
    }
/* HEADER START */
.but-home {
    width: 45px;
    height: 45px;
}

 .header-links, .header-secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

.header-main-text {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

a {
    text-decoration: none;
}

ul {
   list-style: none; 
}

.header-image {
    height: 400px;
    width: 600px;
}

.header-button {
    border: none;
    border-radius: 8px;
    background-color: blue;
    color: white;
    padding: 8px 24px;
    width: 120px;
}

.top-of-header {
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 8px 20px;
}

.header-links {
    display: flex;
    gap: 25px;
}

.middle-of-header {
    background-color: #1f2937;
    height: 925px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle-content {
    width: 80%;
    height: 60%;
    border-radius: 1.5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 2em rgb(69 69 69);
}

.header-main-text, .header-secondary-text {
    display: flex;
    width: 400px;
    flex-wrap: wrap;
}

.text-with-button {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.nav-link, .nav-link-header {
    transition: 0.5s;
    color: black;
    font-size: 22px;
}

.nav-link-header:hover {
    text-decoration: underline;
}

.nav-link:hover {
    opacity: .7;
}
/* HEADER END */

/* RANDOM-INFORMATION WITH BUTTONS START */
.middle-upper {
    font-style: arial sans-serif;
    background-color: white;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.middle-upper-content {
    width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.button-1, .button-2, .button-3, .button-4 {
   /* text-align:center or the below stuff */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.but-1, .but-2, .but-3, .but-4{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: solid black 5px;
}

.middle-upper-title {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.middle-upper-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px  ;
}
/* RANDOM INFORMATION WITH BUTTONS END */

/* QUOTE START */
.middle-middle{
    background-color: #e5e7eb;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-and-person {
    width: 50%;
}

.quote {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    
    text-align: center;
}

.person-quoted {
    font-weight: bold;
    text-align: right;
}
/* QUOTE END */

/* MIDDLE-LOWER START */
.middle-lower {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.call-to-action {
    background-color: #3882f6;
    padding: 60px 65px;
    width: 60%;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.upper-text-call {
    color: #f9faf8;
    font-size: 30px;
}

.lower-text-call {
    color: #e5e7eb;
}

.middle-lower-button {
    border:0;
    border-radius: 8px;
    background-color: rebeccapurple;
    color: white;
    padding: 8px 24px;
    width: 100px;
}
/* MIDDLE-LOWER END */

/* FOOTER START */
.footer {
    background-color: #1f2937;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    color: #f9faf8;
    text-align: center;
}